<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>MySQL - Email Validation with DB</title>
</head>


<body>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for flash in messages %}
    <div id='noemailmatch'>
        <p>{{ flash }}</p>
    </div>

    {% endfor %} {% endif %} {% endwith %}
    <div>
        <h3>Check the Email Database</h3>
        <form action="/checkforemail" method="post">
            <div id="formleft">
                Email Address:
            </div>
            <div id="formright">
                <input type="text" name="email">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>


</body>

</html>